<nav class='navbar navbar-default navbar-fixed-top'>
    <div class='container'>
    <%= link_to "Address and Phone Directory", root_path, class: 'navbar-brand' %>
    <ol class='nav navbar-nav navbar-right'>
        
        <li><a href='#'>My Favorites</a></li>
        <li><a href='#'>Sign In</a></li>
    </ol>
</nav>